<?xml version='1.0' encoding='windows-1252'?>
<?ifdef win64?>
<?define ProgramFilesFolder="ProgramFiles64Folder"?>
<?define Win64YesNo="yes"?>
<?define Platform="x64"?>
<?else?>
<?define ProgramFilesFolder="ProgramFilesFolder"?>
<?define Win64YesNo="no"?>
<?define Platform="Intel"?>
<?endif?>


<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Product Name='Safed version $(var.version)' Id='????????-????-????-????-????????????'
    Language='1033' Codepage='1252' Version='$(var.version)' Manufacturer='Wuerth Phoenix' UpgradeCode="1ACA458C-7988-426A-BC10-4DABEC8CAD3C">


    <Package Id='????????-????-????-????-????????????' Keywords='Installer'
      Description="Safed for Windows $(var.version) Installer"
      Comments='GNU General Public License version 2 ' Manufacturer='Wuerth Phoenix'
      InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' Platforms='$(var.Platform)' />

    <Condition Message="You need to be an administrator to install this product.">Privileged</Condition>

    <Upgrade Id="1ACA458C-7988-426A-BC10-4DABEC8CAD3C">
      <UpgradeVersion OnlyDetect="no" />
    </Upgrade>

    <Media Id='1' Cabinet='Safed.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" CompressionLevel="mszip" />
    <Property Id='DiskPrompt' Value="Safed [1]" />
    <Property Id="ALLUSERS"><![CDATA[2]]></Property>
    <Property Id="OLDPATH">
      <RegistrySearch Id='OldPath' Type='raw' Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Safed_is1' Name='InstallLocation' Win64="$(var.Win64YesNo)"/>
    </Property>
    <Property Id="W32">(NOT VersionNT64 AND NOT VersionNT >= 600)</Property>
    <Property Id="W64">(VersionNT64 AND NOT VersionNT >= 600)</Property>
    <Property Id="WV32">(NOT VersionNT64 AND VersionNT >= 600)</Property>
    <Property Id="WV64">(VersionNT64 AND VersionNT >= 600)</Property>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='$(var.ProgramFilesFolder)' Name='PFiles'>
	  <Directory Id='INSTALLDIR' Name='Safed'>
          <Component Id='Safed32' Guid='B6514913-726C-4937-9BB4-7A8F0180199C' DiskId="1" Win64="no">
            <File Id='SafedEXE32' Name='Safed.exe' LongName='Safed.exe' Source='Safed32.exe' Vital='yes' KeyPath="yes" />
	        <File Id='ADQ32' Name='ADQuery.exe' LongName='ADQuery.exe' Source='ADQuery32.exe' Vital='yes' />
	        <File Id='ADQDN32' Name='ADQDNet.exe' LongName='ADQueryDNet.exe' Source='ADQueryDNet.exe' Vital='yes' />
		    <File Id='RegImport32' Name='Safed.reg' Source='Safed.reg'/>
            <File Id='regex2x32' Name='regex2.dll' LongName='regex2.dll' Source='dll\regex2.dll' Vital='yes' />			
			<File Id='libffix32' Name='ffi6.dll' LongName='libffi-6.dll' Source='dll\libffi-6.dll' Vital='yes' />
			<File Id='libgccssehx32' Name='gccseh1.dll' LongName='libgcc_s_sjlj-1.dll' Source='dll\libgcc_s_sjlj-1.dll' Vital='yes' />
			<File Id='libgmpx32' Name='gmp10.dll' LongName='libgmp-10.dll' Source='dll\libgmp-10.dll' Vital='yes' />
			<File Id='libgnutlsx32' Name='gnutls30.dll' LongName='libgnutls-30.dll' Source='dll\libgnutls-30.dll' Vital='yes' />
			<File Id='libhogweedx32' Name='hogweed4.dll' LongName='libhogweed-4.dll' Source='dll\libhogweed-4.dll' Vital='yes' />
			<File Id='libidn2x32' Name='idn20.dll' LongName='libidn2-0.dll' Source='dll\libidn2-0.dll' Vital='yes' />
			<File Id='libnettlex32' Name='nettle6.dll' LongName='libnettle-6.dll' Source='dll\libnettle-6.dll' Vital='yes' />
			<File Id='libp11kitx32' Name='p11kit0.dll' LongName='libp11-kit-0.dll' Source='dll\libp11-kit-0.dll' Vital='yes' />
			<File Id='libwinpthreadx32' Name='winpthr.dll' LongName='libwinpthread-1.dll' Source='dll\libwinpthread-1.dll' Vital='yes' />
	    	<ServiceInstall Id="SafedService32"
		    Description="Safed is a program that facilitates the central collection and processing of Windows NT/2000/XP/2003 Event Log information. All three primary event logs (Application, System and Security) are monitored, and the secondary logs (DNS, Active Directory, and File Replication) are monitored if available. Event information is converted to tab delimited text format, then delivered to a remote server."
		    ErrorControl="normal"
		    Name="Safed32"
		    DisplayName="Safed"
		    Start="auto"
		    Type="ownProcess"
		    Vital="yes">
	      	<ServiceConfig FirstFailureActionType="none" SecondFailureActionType="none" ThirdFailureActionType="none" />
    	    	</ServiceInstall>
	   	<ServiceControl Id="SafedServiceControl32" Name="Safed32" Remove="uninstall" Stop="uninstall" Start="install" />
          </Component>
          <Component Id='Safed64' Guid='70869FC1-D0EC-49d3-B53E-FBFE22D0BD75' DiskId="1" Win64="yes">
            <File Id='SafedEXE64' Name='Safed.exe' LongName='Safed.exe' Source='Safed64.exe' Vital='yes' KeyPath="yes" />
	        <File Id='ADQ64' Name='ADQuery.exe' LongName='ADQuery.exe' Source='ADQuery64.exe' Vital='yes' />
	        <File Id='ADQDN64' Name='ADQDNet.exe' LongName='ADQueryDNet.exe' Source='ADQueryDNet.exe' Vital='yes' />
		    <File Id='RegImport64' Name='Safed.reg' Source='Safed.reg'/>
            <File Id='regex2x64' Name='regex2.dll' LongName='regex2.dll' Source='dllx64\regex2.dll' Vital='yes' />			
			<File Id='libffix64' Name='ffi6.dll' LongName='libffi-6.dll' Source='dllx64\libffi-6.dll' Vital='yes' />
			<File Id='libgccssehx64' Name='gccseh1.dll' LongName='libgcc_s_seh-1.dll' Source='dllx64\libgcc_s_seh-1.dll' Vital='yes' />
			<File Id='libgmpx64' Name='gmp10.dll' LongName='libgmp-10.dll' Source='dllx64\libgmp-10.dll' Vital='yes' />
			<File Id='libgnutlsx64' Name='gnutls30.dll' LongName='libgnutls-30.dll' Source='dllx64\libgnutls-30.dll' Vital='yes' />
			<File Id='libhogweedx64' Name='hogweed4.dll' LongName='libhogweed-4.dll' Source='dllx64\libhogweed-4.dll' Vital='yes' />
			<File Id='libidn2x64' Name='idn20.dll' LongName='libidn2-0.dll' Source='dllx64\libidn2-0.dll' Vital='yes' />
			<File Id='libnettlex64' Name='nettle6.dll' LongName='libnettle-6.dll' Source='dllx64\libnettle-6.dll' Vital='yes' />
			<File Id='libp11kitx64' Name='p11kit0.dll' LongName='libp11-kit-0.dll' Source='dllx64\libp11-kit-0.dll' Vital='yes' />
			<File Id='libwinpthreadx64' Name='winpthr.dll' LongName='libwinpthread-1.dll' Source='dllx64\libwinpthread-1.dll' Vital='yes' />			
	    	<ServiceInstall Id="SafedService64"
		    Description="Safed is a program that facilitates the central collection and processing of Windows NT/2000/XP/2003 Event Log information. All three primary event logs (Application, System and Security) are monitored, and the secondary logs (DNS, Active Directory, and File Replication) are monitored if available. Event information is converted to tab delimited text format, then delivered to a remote server."
		    ErrorControl="normal"
		    Name="Safed64"
		    DisplayName="Safed"
		    Start="auto"
		    Type="ownProcess"
		    Vital="yes">
	      	<ServiceConfig FirstFailureActionType="none" SecondFailureActionType="none" ThirdFailureActionType="none" />
    	    	</ServiceInstall>
	   	<ServiceControl Id="SafedServiceControl64" Name="Safed64" Remove="uninstall" Stop="uninstall" Start="install" />
          </Component>
          <Component Id='SafedV32' Guid='81649438-895B-447f-ACF5-56505EAE3621' DiskId="1" Win64="no">
            <File Id='SafedEXEV32' Name='Safed.exe' LongName='Safed.exe' Source='SafedV32.exe' Vital='yes' KeyPath="yes" />
	        <File Id='ADQV32' Name='ADQuery.exe' LongName='ADQuery.exe' Source='ADQuery32.exe' Vital='yes' />
	        <File Id='ADQDNV32' Name='ADQDNet.exe' LongName='ADQueryDNet.exe' Source='ADQueryDNet.exe' Vital='yes' />
		    <File Id='RegImportV32' Name='Safed.reg' Source='SafedV.reg'/>
            <File Id='regex2xV32' Name='regex2.dll' LongName='regex2.dll' Source='dll\regex2.dll' Vital='yes' />	
			<File Id='libffixV32' Name='ffi6.dll' LongName='libffi-6.dll' Source='dll\libffi-6.dll' Vital='yes' />
			<File Id='libgccssehxV32' Name='gccseh1.dll' LongName='libgcc_s_sjlj-1.dll' Source='dll\libgcc_s_sjlj-1.dll' Vital='yes' />
			<File Id='libgmpxV32' Name='gmp10.dll' LongName='libgmp-10.dll' Source='dll\libgmp-10.dll' Vital='yes' />
			<File Id='libgnutlsxV32' Name='gnutls30.dll' LongName='libgnutls-30.dll' Source='dll\libgnutls-30.dll' Vital='yes' />
			<File Id='libhogweedxV32' Name='hogweed4.dll' LongName='libhogweed-4.dll' Source='dll\libhogweed-4.dll' Vital='yes' />
			<File Id='libidn2xV32' Name='idn20.dll' LongName='libidn2-0.dll' Source='dll\libidn2-0.dll' Vital='yes' />
			<File Id='libnettlexV32' Name='nettle6.dll' LongName='libnettle-6.dll' Source='dll\libnettle-6.dll' Vital='yes' />
			<File Id='libp11kitxV32' Name='p11kit0.dll' LongName='libp11-kit-0.dll' Source='dll\libp11-kit-0.dll' Vital='yes' />
			<File Id='libwinpthreadxV32' Name='winpthr.dll' LongName='libwinpthread-1.dll' Source='dll\libwinpthread-1.dll' Vital='yes' />
	    	<ServiceInstall Id="SafedServiceV32"
		    Description="Safed is a program that facilitates the central collection and processing of Windows vista/2008/7 Event Log information. All three primary event logs (Application, System and Security) are monitored, and the secondary logs (DNS, Active Directory, and File Replication) are monitored if available. Event information is converted to tab delimited text format, then delivered to a remote server."
		    ErrorControl="normal"
		    Name="SafedV32"
		    DisplayName="Safed"
		    Start="auto"
		    Type="ownProcess"
		    Vital="yes">
	      	<ServiceConfig FirstFailureActionType="none" SecondFailureActionType="none" ThirdFailureActionType="none" />
    	    	</ServiceInstall>
	   	<ServiceControl Id="SafedServiceControlV32" Name="SafedV32" Remove="uninstall" Stop="uninstall" Start="install" />
          </Component>
          <Component Id='SafedV64' Guid='291B76C1-ED46-4456-A8C0-0F8886BEB8EA' DiskId="1" Win64="yes">
            <File Id='SafedEXEV64' Name='Safed.exe' LongName='Safed.exe' Source='SafedV64.exe' Vital='yes' KeyPath="yes" />
	        <File Id='ADQV64' Name='ADQuery.exe' LongName='ADQuery.exe' Source='ADQuery64.exe' Vital='yes' />
	        <File Id='ADQDNV64' Name='ADQDNet.exe' LongName='ADQueryDNet.exe' Source='ADQueryDNet.exe' Vital='yes' />
		    <File Id='RegImportV64' Name='Safed.reg' Source='SafedV.reg'/>
            <File Id='regex2xV64' Name='regex2.dll' LongName='regex2.dll' Source='dllx64\regex2.dll' Vital='yes' />	
			<File Id='libffixV64' Name='ffi6.dll' LongName='libffi-6.dll' Source='dllx64\libffi-6.dll' Vital='yes' />
			<File Id='libgccssehxV64' Name='gccseh1.dll' LongName='libgcc_s_seh-1.dll' Source='dllx64\libgcc_s_seh-1.dll' Vital='yes' />
			<File Id='libgmpxV64' Name='gmp10.dll' LongName='libgmp-10.dll' Source='dllx64\libgmp-10.dll' Vital='yes' />
			<File Id='libgnutlsxV64' Name='gnutls30.dll' LongName='libgnutls-30.dll' Source='dllx64\libgnutls-30.dll' Vital='yes' />
			<File Id='libhogweedxV64' Name='hogweed4.dll' LongName='libhogweed-4.dll' Source='dllx64\libhogweed-4.dll' Vital='yes' />
			<File Id='libidn2xV64' Name='idn20.dll' LongName='libidn2-0.dll' Source='dllx64\libidn2-0.dll' Vital='yes' />
			<File Id='libnettlexV64' Name='nettle6.dll' LongName='libnettle-6.dll' Source='dllx64\libnettle-6.dll' Vital='yes' />
			<File Id='libp11kitxV64' Name='p11kit0.dll' LongName='libp11-kit-0.dll' Source='dllx64\libp11-kit-0.dll' Vital='yes' />
			<File Id='libwinpthreadxV64' Name='winpthr.dll' LongName='libwinpthread-1.dll' Source='dllx64\libwinpthread-1.dll' Vital='yes' />			
	    	<ServiceInstall Id="SafedServiceV64"
		    Description="Safed is a program that facilitates the central collection and processing of Windows vista/2008/7 Event Log information. All three primary event logs (Application, System and Security) are monitored, and the secondary logs (DNS, Active Directory, and File Replication) are monitored if available. Event information is converted to tab delimited text format, then delivered to a remote server."
		    ErrorControl="normal"
		    Name="SafedV64"
		    DisplayName="Safed"
		    Start="auto"
		    Type="ownProcess"
		    Vital="yes">
	      	<ServiceConfig FirstFailureActionType="none" SecondFailureActionType="none" ThirdFailureActionType="none" />
    	    	</ServiceInstall>
	   	<ServiceControl Id="SafedServiceControlV64" Name="SafedV64" Remove="uninstall" Stop="uninstall" Start="install" />
          </Component>

          <Component Id='SafedMore' Guid='4B31E54E-842E-4501-B241-2BACAA14F9CD' DiskId="1" Win64="$(var.Win64YesNo)">
	      <File Id='GetLAdms' Name='GetLAdms.vbs' LongName='GetLocalAdmins.vbs' Source='GetLocalAdmins.vbs' Vital='yes' />
	      <Registry Id='SafedEvent' Root='HKLM' Key='SYSTEM\CurrentControlSet\Services\EventLog\Application\Safed' Action='createKey'/>
	      <Registry Id="SafedEvent1" Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\Safed" Name="EventMessageFile" Value="[INSTALLDIR]Safed.exe" Type="expandable" Action="write" />
	      <Registry Id="SafedEvent2" Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\Safed" Name="TypesSupported" Value="7" Type="integer" Action="write" />
	    	<Registry Id="RemoveReg" Action="removeKeyOnUninstall" Root="HKLM" Key="SOFTWARE\Wuerth PHoenix\AuditService" />
          </Component>

          <Component Id='ExtraFiles' Guid='18C96069-0036-4A60-8782-51483BCD42B9' DiskId="1" Win64="$(var.Win64YesNo)">
            <File Id='Readme' Name='Readme.txt' Source='Readme.txt'/>
            <File Id='SafedIcon' Name='wp.ico' Source='wp.ico'/>
            <File Id="SafedShortcut.txt" Name="Safed.url" LongName="Safed.url" Vital="yes" KeyPath="yes" Source="SafedShortcut.txt">
              <Shortcut Id="startmenuInternet" Directory="ProgramMenuDir" Advertise="yes" Name="Safed" LongName="Safed for Windows" WorkingDirectory="INSTALLDIR" Icon="Safed.ico" />
            </File>
            <RemoveFolder Id="DeleteShortcutFolder" Directory="ProgramMenuDir" On="uninstall" />   
          </Component>

        </Directory>
      </Directory>


      <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
        <Directory Id="ProgramMenuDir" Name="IA" LongName='Wuerth Phoenix' />
      </Directory>

    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='SafedMore' />
 	<Feature Id='MainProgramV' Level='1'>
 		<Feature Id='mpV32' Level='1'>
    			<ComponentRef Id='SafedV32' />
			<Condition Level="0" >VersionNT64</Condition>
  		</Feature>
 		<Feature Id='mpV64' Level='1'>
    			<ComponentRef Id='SafedV64' />
			<Condition Level="0" >NOT VersionNT64</Condition>
  		</Feature>
		<Condition Level="0" >NOT VersionNT >= 600</Condition>
  	</Feature>
 	<Feature Id='MainProgram' Level='1'>
 		<Feature Id='mp32' Level='1'>
    			<ComponentRef Id='Safed32' />
			<Condition Level="0" >VersionNT64</Condition>
  		</Feature>
 		<Feature Id='mp64' Level='1'>
    			<ComponentRef Id='Safed64' />
			<Condition Level="0" >NOT VersionNT64</Condition>
  		</Feature>
		<Condition Level="0" >VersionNT >= 600</Condition>
  	</Feature>
      <ComponentRef Id='ExtraFiles' />
    </Feature>


    <Icon Id="Safed.ico" SourceFile="wp.ico" />
    <InstallExecuteSequence>
      <Custom Action="InstallReg" After='InstallFiles'>(<![CDATA[ $Safed32 > 2 ]]> AND W32) OR (<![CDATA[ $Safed64 > 2 ]]> AND W64) OR (<![CDATA[ $SafedV32 > 2 ]]> AND WV32) OR (<![CDATA[ $SafedV64 > 2 ]]> AND WV64)</Custom>
      <Custom Action="AddReadMe" After="CostFinalize" />
      <Custom Action="AddURL" After="CostFinalize" />
      <Custom Action="AddDisplayIcon" After="CostFinalize" />
      <Custom Action="SetOldPath" Sequence="1">OLDPATH</Custom>
      <Custom Action="RemoveOldProd" Sequence="2">OLDPATH</Custom>
      <RemoveExistingProducts After="FindRelatedProducts" />
    </InstallExecuteSequence>

    <CustomAction Id="SetOldPath" Property="OldUninstallPath" Value='[OLDPATH]unins000.exe' />
    <CustomAction Id="RemoveOldProd" Property="OldUninstallPath" ExeCommand='"[OldUninstallPath]" /verysilent' />
    <CustomAction Id="InstallReg" Directory="INSTALLDIR" ExeCommand='regedit /s "[INSTALLDIR]Safed.reg"' Execute="deferred" />
    <CustomAction Id="AddReadMe" Property="ARPREADME" Value="[INSTALLDIR]Readme.txt" HideTarget="no" />
    <CustomAction Id="AddURL" Property="ARPURLINFOABOUT" Value="http://www.wuerth-phoenix.com/neteye" HideTarget="no" />
    <CustomAction Id="AddDisplayIcon" Property="ARPPRODUCTICON" Value="Safed.ico" HideTarget="no" />


  </Product>
</Wix>
